/*
.class
#id
gray: #707070;
pink: #FF0060;
blue: #080A52;
green:#CCF381;
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:100,300,400');


* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
img { width:300px; }
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px; /*1em = 16px*/
	font-weight: 300;
	color: #707070;
	line-height: 1.3;
}
nav a {
	display: inline-block;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #FF0060;
	padding: 20px;
	text-align: center;
}
nav a:hover {
	color: #707070;
}
h1 {
	font-family: 'Roboto Condensed', sans-serif;
 	font-size: 16px;
 	font-weight: 400;
 	color: black;
 	text-transform: uppercase;
}
h2 {
	font-size: .75em;
 	font-weight: bold;
 	color: black;
 	/*padding-left: 20px;*/
}

a {
	text-decoration: none;
}
#intro {
	background:url(../images/la-vie-en-shroads-homepage.jpg) no-repeat center;
	background-size:cover;
	min-height: 95vh;

/* Container holding the image and the text */
#container {
  position: relative;
  text-align: center;
  float: left;
}

}
#one {

}
#two {

}
#two > div {

}
