/*
.class
#id
gray: #707070;
pink: #FF0060;
blue: #080A52;
green:#CCF381;
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:100,300,400');

* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}

nav a {
	display: inline-block;
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #FF0060;
	margin-left: 20px;
	margin-right: 20px;
	padding: 20px 0;
}

nav a:hover {
	color: #707070;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px; /*1em = 16px*/
	font-weight: 300;
	color: #707070;
	line-height: 1.3;
}

h1 {
	font-family: 'Roboto', sans-serif;
 	font-size: 2em;
 	font-weight: 400;
 	color: #FF0060;
}

h2 {
	font-family: 'Roboto', sans-serif;
 	font-size: 1em;
 	font-weight: 400;
 	color: black;
 	padding-left: 20px;
}

a {
	text-decoration: none;
}

p {
	text-decoration: none;
	color: #707070;
}

.hero-unit img {
 width: 100%; height: auto;   
}

.destination-image img 
{
    max-width: 800px;
    height: auto;
    padding: 20px;
}

#destinations {
	margin: 0 auto;
}

footer {

}

/*#slogan	{
	font-style: italic;
}
*/