h1 {
     font-family: Arial, sans-serif;
     color: #FF0060;

}

p	{
	font-family: Arial, sans-serif;
	font-weight: normal;
	color: #707070;
}

slogan	{
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-style: italic;
	color: 707070;
}